* {
    box-sizing: border-box;
    font-family: 'Playfair Display';
}

body {
    margin: 0px;
}

.wrapper {
    width: 900px;  
    margin: 0px auto;
}

.menu {
    text-align: center;
    margin: 0;
    line-height: 10;
    padding: 0;
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Playfair Display";
    text-align: center;
    font-weight: normal;
    list-style: none;
}

.menu-item-link:hover {
    color: #03a9f4;
}

.menu-item:not(:last-child) {
    margin-right: 60px;
}

.menu-item-link {
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.article {
    margin-bottom: 135px;
    display: inline-block;
    width: 420px;
}

.article:not(:nth-child(2n)) {
    margin-right: 60px;
}

.bottom-article {
    margin-bottom: 60px;
}

section {
    font-size: 0;
    padding-bottom: 40px;
}

.img {
    margin-bottom: 30px;
}

.category {
    margin-bottom: 25px;
    display: block;
}

.heading {
    margin-bottom: 40px;
    margin: 0;
    color: #626262;
    font-size: 30px;
    font-weight: normal;
}

.category {
    color: #b4ad9e;
    text-transform: uppercase;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
}

.text {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.btn {
    display: block;
    margin: 0px auto;
    font-size: 20px;
    line-height: 60px;
    color: #626262;
    padding: 0 35px;
}

.btn:hover {
    cursor: pointer;
}
