.subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    height: 40px;

    &__text {
        width: 230px;
        height: 40px;
        color: #ccc;
        padding-left: 13px;
        font-size: 14px;
        font-style: italic;
        border-style: none;
    }

    &__btn {
        width: 150px;
        height: 40px;
        outline: none;
        border-style: none;
        background-color: #95e1d3;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            cursor: pointer;
        }
    }
}